<!DOCTYPE html>
<html>
  <head>
  	<title>Tio Sebastian - Fresh Graduate</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- <script src="js/main.js"></script> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header id="main-navigation" class="clearfix">
		<%= link_to "Tio Sebastian", root_path, class: "name" %>
		<a href="#" class="menu"><i class="fa fa-bars"></i></a>
		<nav id="main-nav">
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<%= link_to "Contact", contacts_path %>
		</nav>
	</header>

    <%= yield %>

	<footer id="main-footer">
		<p class="copyright"> &copy;2017 Tio Sebastian</p>
		<nav>
			<a href="https://twitter.com/"><i class="fa fa-twitter" target="_blank" aria-hidden="true"></i></a>
			<a href="https://codepen.io/tiosebastian/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
			<a href="https://linkedin.com/in/tio-sebastian-a50748113/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</nav>
	</footer>
  </body>
</html>
